@charset "UTF-8";

@import 'cores';

*{
    padding: 0;
    margin: 0;
}

$fonte-roboto: 'Roboto', sans-serif;

@mixin flex() {
    display: flex;
    flex-direction: row;
}

@mixin flex2() {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body{
    position: relative;

    .cabecalho{ 
        h1{
            text-align: center;
            margin-top: 5rem;
            font-size: 3rem;
        }
    }

    background: $azul-mais-escuro;
    color: $azul-mais-claro;
    font-family: $fonte-roboto;

    #container{ 
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(28rem, 10rem);

        .section-cronometro{
            @include flex();

            .box-trabalho{
                margin: 0rem 3rem;

                img{
                    width: 40px;
                    height: 40px;
                    padding: .5rem
                }
            }

            .box-pausa{
                margin: 0rem 3rem;

                img{
                    width: 40px;
                    height: 40px;
                    padding: .5rem
                }
            }

            .box-sessao{
                margin: 0rem 3rem;

                img{
                    width: 40px;
                    height: 40px;
                    padding: .5rem
                }
            }

            .box-icones{
                @include flex();
            }

            .saida-minuto{
                background: #3b4160;
                width: 10rem;
                height: 8rem;
                border-radius: .5rem;
                box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.582);
            }

            .saida-pausa{
                background: #3b4160;
                width: 10rem;
                height: 8rem;
                border-radius: .5rem;
                box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.582);
            }

            .saida-sessao{
                background: #3b4160;
                width: 10rem;
                height: 8rem;
                border-radius: .5rem;
                box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.582);
            }

            .icon-flex{
                @include flex2();
            }

            p{
                text-align: center;
                padding: 1rem 0;
                font-weight: bold;
                font-size: 1.2rem;
            }
        }
    }

    .box-btn{
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(7rem, 24rem);

        .btn{
            padding: 1rem 3.3rem;
            background: #3b4160;
            border: none;
            border-radius: .5rem;
            box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.582);
            color: $azul-mais-claro;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}