@charset "UTF-8";

@import 'cores';

*{
    padding: 0;
    margin: 0;
}

$fonte-roboto: 'Roboto', sans-serif;

body{
    background: $azul-mais-escuro;
    color: $azul-mais-claro;
    font-family: $fonte-roboto;
}