@charset "UTF-8";

@import 'cores';

*{
    padding: 0;
    margin: 0;
}

@mixin flex() {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@mixin flex2() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

@mixin flex3() {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

body{

    $fonte-roboto: 'Roboto', sans-serif;

    background: $azul-mais-escuro;
    color: $azul-mais-claro;
    font-family: $fonte-roboto;

    header{
        @include flex();
        padding: 2rem 0;

        h1{
            font-size: 3rem;
        }

        .btn-inicio{
            padding: 1.3rem 2.5rem;
            border: none;
            border-radius: .5rem;
            background: $azul-fundo-botao-saida-js;
            box-shadow: 0px 3px 4px 0px #00000073;
            color: $azul-mais-claro;
            font-size: 1.5rem;
            font-weight: bold;

            &:hover{
                background: $azul-mais-escuro;
            }
        }
    }

    main{

    @include flex3();
    margin: 3rem 0;

        .time{
            position: relative;
            width: 20rem;
            height: 20rem;
            background: $azul-fundo-botao-saida-js;
            border-radius: 50%;

            .circle-animation-time{
                position: absolute;
                top: 8%;
                right: 8%;
                background: none;
                border: 6px solid $verde;
                border-radius: 50%;
                width: 16rem;
                height: 16rem;
            }
        }

        .pause{
            @include flex2(); 

            p{
                font-size: 3rem;
                font-weight: bold;
                margin: .9rem 0;
            }
            .paragrafo-pausa{
                text-align: center;
                display: none;
            }

            .sections{
                text-align: center;
                .ball{
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    background: $azul-fundo-botao-saida-js;
                    border-radius: 50%;
                    margin: auto .2rem;
                }
            }

            .btn-pause{
                border: none;
                border-radius: .4rem;
                background: $azul-fundo-botao-saida-js;
                box-shadow: 0px 3px 4px 0px #18111173;
                padding: 1.5rem 2rem;

                img{
                    width: 2.5rem;
                    height: 2.5rem;
                }

                .img-pause{
                    display: none;
                }
            }
        }
    }
}